{% extends "minimal.html" %}
{% block content %}
<div class="jumbotron p-4 p-md-3 main-post rounded bg-dark">
  <div class="col-md-6 px-0">
    <h3>Latest post</h3>
    <h1><a href="{{ url("posts." + site.collections.posts[0].slug) }}">{{ site.collections.posts[0].title }}</a></h1>
    <p>{{ site.collections.posts[0].content }}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-9">
    {% if page.paginator.index == 1 %}
      <h2>Older posts</h2>
    {% else %}
      <h2>Older posts - page {{page.paginator.index}}</h2>
    {% endif %}
    <hr>
    <ul class='post-list'>
      {% for post in page.paginator.posts %}
        {% include "post_front.html" %}
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-12 col-lg-3">
    {% include "tag_cloud.html" %}
  </div>
</div>

<nav class='blog-pagination'>
  {% if page.paginator.previous_page %}
    <a class='btn btn-outline-dark' href="{{ url('blog_index.' + (page.paginator.index - 1)|string) }}">Newer</a>
  {% else %}
    <a class='btn btn-outline-dark disabled' href="">Newer</a>
  {% endif %}

  {% if page.paginator.next_page %}
    <a class='btn btn-outline-dark' href="{{ url("blog_index." + (page.paginator.index + 1)|string) }}">Older</a>
  {% else %}
    <a class='btn btn-outline-dark disabled' href="">Older</a>
  {% endif %}
</nav>

{% endblock content %}
