<li>
  <div class="post-front">
    <h2><a href="{{ url("posts." + post.slug) }}">{{ post.title }}</a></h2>
    <span>{{ post.date}}</span>
    <span style='float:right'>
      Tags:
        {% for tag in post.tags %}
          <a href="{{ url("tags." + tag|lower + ".1") }}">{{ tag }}</a>
          {# <a href="{{ url("tags." + (site.collections.tags|selectattr('name', tag)|first).slug + ".1") }}">{{ tag }}</a> #}
        {% endfor %}
    </span>
    <p>{{ post.content }}</p>
  </div>
</li>
<hr>
