{% extends "minimal.html" %}

{% block content %}

  <div class="row">
    <div class="col-md-12 col-lg-9">
      <h1>{{page.title}}</h1>
      <hr>
      <ul class='post-list'>
        {% for post in page.paginator.posts %}
          {% include "post_front.html" %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-12 col-lg-3">
      {% include "tag_cloud.html" %}
    </div>
  </div>

  <nav class='blog-pagination'>
    {% if page.paginator.previous_page %}
      <a class='btn btn-outline-dark' href="{{ url('tags.' + page.tag_slug + '.' + (page.paginator.index - 1)|string) }}">Newer</a>
    {% else %}
      <a class='btn btn-outline-dark disabled' href="">Newer</a>
    {% endif %}

    {% if page.paginator.next_page %}
      <a class='btn btn-outline-dark' href="{{ url("tags." + page.tag_slug + '.' + (page.paginator.index + 1)|string) }}">Older</a>
    {% else %}
      <a class='btn btn-outline-dark disabled' href="">Older</a>
    {% endif %}
  </nav>

{% endblock content %}
