<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width">

  <title>{{ page.title }}</title>
  <link rel="canonical" href={{ url(page.url) }}>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href={{ url("/static/css/bootstrap.min.css") }}>
  <link rel="stylesheet" href={{ url('/static/css/base.css') }}>
  <link rel="stylesheet" href={{ url('/static/css/custom.css') }}>

  <link rel="icon" type="image/png" href="https://github.com/favicon.ico">
  <link rel="manifest" href={{ url('/site.webmanifest') }}>

</head>

<body>

  {% include "header.html" %}

  {% block main %}
  {% endblock main %}

  {% include "footer.html" %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

  {% if config.serving %}
    <script src="{{ url("/hot_reload") }}"></script>
  {% endif %}

</body>

</html>
