{% extends "base.html" %}
{% block main %}

<main>

  <div class="row">

    {% include "sidebar.html" %}

    {% block content %}

    <div class="content col-lg-8 col-md-12">
      <h1>
        {% if "skip_title" not in page or not page["skip_title"] %}
          {{page.title}}
        {% endif %}
      </h1>
      {{ page.content|html }}
    </div>

    {% endblock content %}

    <div class="col-lg-2 col-md-12 order-first order-lg-last">
      {% include "toc.html" %}
    </div>

  </div>

</main>

<div class="bottom navigation">
  {% include "navigation.html" %}
</div>

{% endblock main %}
