<nav class="footer bg-primary">

  <div class="container">
    <div class="row">

      {% for item in site.data.footer %}
        <div class="col-md-4">
          <span class="nav-item fw-bold">{{item.title}}</span>
          {% for link in item.links%}
            <div class="nav-item">
              <a href="{{ url(link.link) }}" class="nav-link">{{link.name}}</a>
            </div>
          {% endfor %}
        </div>
      {% endfor %}

      <div class="col-md-4">
        <div class="content">
          <br>
          <div class="text-muted small">
            {{config.copyright}}
          </div>
        </div>
      </div>

    </div>
  </div>

</nav>
