<header class="navbar navbar-expand-lg bg-primary sticky-top">
  <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap">
    <div class="bd-navbar-toggle">
      <button class="navbar-toggler p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <a href="/" class="navbar-brand p-0 me-0 me-lg-2">
      <img src="{{ url(config.icon) }}" width="40" height="40" class="" alt="kart-logo">
    </a>

    <div class="d-flex">
      <!-- <div class="bd-search" id="docsearch" data-bd-docs-version="5.3"><button type="button" class="DocSearch DocSearch-Button" aria-label="Search"><span class="DocSearch-Button-Container"><svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20"><path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg><span class="DocSearch-Button-Placeholder">Search</span></span><span class="DocSearch-Button-Keys"><kbd class="DocSearch-Button-Key"><svg width="15" height="15" class="DocSearch-Control-Key-Icon"><path d="M4.505 4.496h2M5.505 5.496v5M8.216 4.496l.055 5.993M10 7.5c.333.333.5.667.5 1v2M12.326 4.5v5.996M8.384 4.496c1.674 0 2.116 0 2.116 1.5s-.442 1.5-2.116 1.5M3.205 9.303c-.09.448-.277 1.21-1.241 1.203C1 10.5.5 9.513.5 8V7c0-1.57.5-2.5 1.464-2.494.964.006 1.134.598 1.24 1.342M12.553 10.5h1.953" stroke-width="1.2" stroke="currentColor" fill="none" stroke-linecap="square"></path></svg></kbd><kbd class="DocSearch-Button-Key">K</kbd></span></button></div> -->

      <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#oc_navbar">
        <i class="fa-solid fa-ellipsis"></i>
      </button>
    </div>

    <div class="offcanvas-lg offcanvas-end flex-grow-1" tabindex="-1" id="oc_navbar" data-bs-scroll="true">
      <div class="offcanvas-header px-4 pb-0">
        <h5 class="offcanvas-title">{{config.name}}</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" data-bs-target="#oc_navbar"></button>
      </div>

      <div class="offcanvas-body p-4 pt-0 p-lg-0">
        <hr class="d-lg-none">
        <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
          {% for item in site.data.header %}
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2" href={{ url(item.link) }}>{{item.name}}</a>
            </li>
          {% endfor %}
        </ul>

        <hr class="d-lg-none">

        <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
          {% for item in site.data.social%}
            <li class="nav-item col-4 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2" href="{{item.link}}">
                <i class="fa-brands fa-{{item.name}}"></i>
              </a>
            </li>
          {% endfor %}
          <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
            <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
            <hr class="d-lg-none my-2 text-white-50">
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link py-2 px-0 px-lg-2">v{{config.version}}</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>
