<hr class='m-0'>
<div class="container-fluid">
  <div class="d-flex flex-row navbar navbar-nav">

    <div class="col-6 d-flex nav-item text-start">
      {% if 'previous_page' in page %}
      <i class="fa-solid fa-chevron-left nav-icon"></i>
        <a href="{{ url(page.previous_page) }}" class="nav-link">
          <div class="small">
            Previous
          </div>
          <div class="">
            {{ site.docs[page.previous_page].title }}
          </div>
        </a>
      {% endif %}
    </div>

    <div class="col-6 d-flex nav-item text-end">
      {% if 'next_page' in page %}
        <a href="{{ url(page.next_page) }}" class="nav-link ms-auto">
          <div class="small">
            Next
          </div>
          <div class="">
            {{ site.docs[page.next_page].title }}
          </div>
        </a>
        <i class="fa-solid fa-chevron-right nav-icon"></i>
      {% endif %}
    </div>

  </div>
</div>
