<div class="sidebar offcanvas-lg offcanvas-start col-lg-2" tabindex="-1" id="sidebar">

  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title" id="">Browse docs</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebar"></button>
  </div>

  <div class="offcanvas-body sticky">

    <ul class="list-unstyled">

    {% for nav_item in site.docs_global_toc %}

      {% set level = nav_item.level * 15 %}

      {% if nav_item.slug %}

        <li>
          {% if nav_item.slug == page.slug %}
          <a href="{{ url(nav_item.slug) }}" class="active small sb-link" style="margin-left:{{level}}px">
          {% else %}
          <a href="{{ url(nav_item.slug) }}" class="small sb-link" style="padding-left:{{level}}px">
          {% endif %}
            {{nav_item.title}}
          </a>
        </li>

      {% else %}

      <li>
        <strong class="fw-bold">{{nav_item.title}}</strong>
      </li>

      {% endif %}

    {% endfor %}

    </ul>
  </div>

</div>
