<div class="sticky">

  <h5>Table of contents</h5>
  <hr>

  <ul class="list-unstyled">
    {% for h in page.content|toc %}
      <li>
        <a href="#{{h.id}}" class="{{active}} small sb-link" style="padding-left:{{(h.level - 1) * 10 }}px">
          {{h.title}}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
