.navbar-brand h2 {
  margin: 0.25rem 0rem;
}

.nav-link {
  padding: 0.5rem;
  margin: auto;
}

#tag-list ul {
  padding-left: 0;
  margin-bottom: 0.1rem;
}

#tag-list li {
  margin-bottom: 0.2rem;
  font-size: 120%;
}

#blog-pagination .button {
  margin-bottom: 1rem;
}

#blog-pagination {
  margin-bottom: 1rem;
}

.nav-link-icon {
  margin: auto;
}

#sidebar-toc {
  position: sticky;
  top: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

#sidebar-toc li.active a {
  font-weight: bold;
}
