{% extends "minimal.html" %}

{% block title %}
<title>{{site.config.name}} - {{ page.title }}</title>
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-12 col-lg-9">
      <h1>{{ page.title }}</h1>
      <span>{{ date_to_string(page.date) }}</span>
      <span style='float:right'>
        Tags:
          {% for tag in page.tags %}
            {% set tag = site.tags[tag_slug] %}
            <a href="{{ url("tags." + tag_slug + ".1") }}">{{tag.name}}</a>
          {% endfor %}
      </span>

      {{ page.content|html }}
    </div>
    <div class="col-md-12 col-lg-3">
      <div class='card' id='sidebar-toc'>
        <h3>Table of contents</h3>
        {{ page.content|toc }}
      </div>
    </div>
  </div>
{% endblock content %}
