<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block title %}
  <title>{{config.name}}</title>
  {% endblock title %}

  {% block description %}
  <meta name="Description" CONTENT="
  {{ config['name'] }}
  {% if page.title %}
    - {{ page.title }}
  {% elif page.name %}
    - {{ page.name }}
  {% endif %}
  {% if page.description %}
  - {{ page.description }}
  {% endif %}
  ">
  {% endblock description %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href={{ url("/static/css/bootstrap.min.css") }}>
  <link rel="stylesheet" href={{ url("/static/css/base.css") }}>
  <link rel="stylesheet" href={{ url("/static/css/custom.css") }}>

  <link rel="canonical" href={{ url(page.url) }}>
  <link rel="alternate" type="application/rss+xml" title="{{ config.name }}" href="{{ url('feed') }}">

  {% block css %}
  {% endblock css %}

</head>

<body>

  {% include "navbar.html" %}
  <main>
    {% block content %}
      {{ page.content|html }}
    {% endblock content %}
  </main>
  {% include "footer.html" %}

    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

  {% if config.serving %}
    <script src="{{ url("/hot_reload") }}"></script>
  {% endif %}
  {% block js %}
  {% endblock js %}

</body>
</html>
