{% extends "base.html" %}

{% block title %}
<title>{{ config.name }}</title>
{% endblock title %}

{% block description %}
<meta name="Description" CONTENT="
  {{config.name}} Index
">
{% endblock description %}

{% block content %}

<div class="row">
  <div class="col-md-12 col-lg-9">

    {% if page.paginator.index == 1 %}
      <h2>Index</h2>
    {% else %}
      <h2>Older posts - page {{ page.paginator.index }}</h2>
    {% endif %}

    <hr>

    <ul class="p-0">
      {% for post in page.paginator.objects %}
        <div>
          <h2><a href="{{ url("posts." + post.slug) }}">{{ post.title }}</a></h2>
          <div style='margin-bottom:0.5rem'>
            <span>{{ post.date|date_to_string }}</span>
            {% if post.tags %}
            <span style='float:right'>
              Tags:
                {% for tag_slug in post.tags %}
                  {% set tag = site.tags[tag_slug] %}
                  <a href="{{ url("tags", tag_slug) }}">{{ tag.name }}</a>
                {% endfor %}
            </span>
            {% endif %}
          </div>
          <p>{{ post.description }}</p>
        </div>
      {% endfor %}
    </ul>

    {% include 'pagination.html' %}

  </div>
  <div class="col-md-12 col-lg-3">
    {% include "tag_list.html" %}
  </div>
</div>

{% endblock content %}
