<nav class="navbar navbar-expand-lg bg-primary" id='navbar'>
  <div class="container">
  <a class="navbar-brand" href="{{ url('/') }}">
    <h2>{{ config.name }}</h2>
    </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      {% for page in site.pages %}
        {% if url(page.slug) == page.url %}
        <li class='nav-item active'>
          <a class="nav-link active" href="{{ url(page.slug) }}">{{ page.title }}</a>
        </li>
        {% else %}
          <li class='nav-item' >
            <a class="nav-link" href="{{ url(page.slug) }}">{{ page.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

  </div>
  </div>
</nav>
