{% extends "base.html" %}

{% block title %}
<title>{{ config.name }} - {{ page.title }}</title>
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-12 col-lg-9">
      <h1>{{ page.title }}</h1>
      {{ page.content|html }}
    </div>
  </div>
{% endblock content %}
