<div id='blog-pagination'>
  {% if page.paginator.previous_page %}
    <a class='btn' href="{{ url(page.paginator.previous_page) }}">Newer</a>
  {% else %}
    <a class='btn disabled' href="">Newer</a>
  {% endif %}
  {% if page.paginator.next_page %}
    <a class='btn' href="{{ url(page.paginator.next_page) }}">Older</a>
  {% else %}
    <a class='btn disabled' href="">Older</a>
  {% endif %}
</div>
