{% extends "base.html" %}

{% block title %}
<title>{{ config.name }} - {{ page.title }}</title>
{% endblock title %}

{% block description %}
<meta name="Description" CONTENT="
  {% if page.description %}
    {{page.description}}
  {% else %}
    {{page.content[:150]}}...
  {% endif %}
">
{% endblock description %}

{% block content %}
  <div class="row">

    <div class="col-md-12 col-lg-9 order-1 order-lg-1">
      <h1>{{ page.title }}</h1>
      <div style="margin-bottom:0.5rem">
        <span>{{ page.date|date_to_string }}</span>
        {% if page.tags %}
        <span style="float:right">
          Tags:
            {% for tag_slug in page.tags %}
              {% set tag = site.tags[tag_slug] %}
              <a href="{{ url("tags", tag_slug) }}">{{ tag.name }}</a>
            {% endfor %}
        </span>
        {% endif %}
      </div>
    </div>

    <div class="col-md-12 col-lg-9 order-3 order-lg-2">

      {{ page.content|html }}

      <div id="comment-section"></div>
    </div>

    <div class="col-md-12 col-lg-3 order-2 order-lg-3">
      <div class='card shadow' id='sidebar-toc'>
        <h3>Table of contents</h3>
        {% for h in page.content|toc %}
          <a href="#{{h.id}}">
            <span style="padding-left:{{ (h.level - 2) * 10 }}px">{{ h.title }}</span>
          </a>
        {% endfor %}

      </div>
    </div>

  </div>
{% endblock content %}
