{% extends "minimal.html" %}

{% block title %}
<title>{{config.name}} - {{ page.title }}</title>
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-12 col-lg-9">
      
      <h1>{{ page.title }}</h1>
      <div style='margin-bottom:0.5rem'></div>
        <span>{{ page.date|date_to_string }}</span>
        <span style='float:right'>
          Tags:
            {% for tag_slug in page.tags %}
              {% set tag = site.tags[tag_slug] %}
              <a href="{{ url("tags." + tag_slug + ".1") }}">{{tag.name}}</a>
            {% endfor %}
        </span>
      </div>

      {{ page.content|html }}

    </div>
    <div class="col-md-12 col-lg-3">
      <div class='card' id='sidebar-toc'>
        <h3>Table of contents</h3>
        {% for h in page.content|toc %}
          <a href="#{{h.id}}">
            <span style="padding-left:{{ (h.level - 1) * 10 }}px">{{h.title}}</span>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
