<div id="tag-list" class='card shadow p-3'>
  <h2>Tags</h2>
  <ul class="list-unstyled m-0">
    {% for tag in site.tags %}
      <li>
        <a href="{{ url('tags.' + tag.slug + '.1') }}">
          {{ tag.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
