html {
  height: 100%;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1320px;
}

main h2, main h3, main h4 {
  scroll-margin-top: 4.5rem;
}

@media (min-width: 992px) {
  .content {
    padding-left: 2rem !important;
  }
}

.navbar {
  padding: .5rem 1rem;
  font-size: 125%;
}

.bottom {
  margin-top: auto;
}

.footer {
  padding: .5rem 1rem;
  font-size: 125%;
}

.card {
  position: static;
}

.card-header {
  border-bottom: 0px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p a,
p a:hover,
span a,
span a:hover {
  font-weight: bold;
}

.highlight {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.highlight pre {
  margin-bottom: 0;
}

table,
td,
th {
  border: 0.1rem solid var(--bs-body-color);
  padding: 0.4rem 0.9rem;
}

td>p {
  margin-bottom: 0;
}

table {
  margin-bottom: 0.5rem;
}
