.offcanvas-lg, .offcanvas-lg.show {
  --bs-offcanvas-width: 18rem !important;
}

.navbar-brand.a:hover, .nav-link:hover {
  text-decoration: none;
}

.footer .nav-link:hover {
  text-decoration: underline;
}

.navbar-toggler {
  border: 0;
}

.sb-link {
  color: var(--bs-nav-link-color);
}

a.sb-link.active {
  background-color: rgb(var(--bs-primary-rgb));
  padding: 0.2rem;
  border-radius: 0.4rem;
}

.sticky {
  position: sticky;
  top: 5rem;
}

.nav-icon {
  margin: auto 1rem auto 1rem;
}

dl {
  margin-bottom: 1.5rem;
  background-color: rgb(var(--bs-tertiary-bg-rgb)) !important;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

dl>dl {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 2rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

dd>p {
  margin: 0;
}
